/*------------------------------
 This is Google Font------------ */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Work+Sans:wght@700&display=swap');

 /* -----------------------------
 This is Common styles for all */

 body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }

 /* ----------------------------------------
 this is for Navigation Main banner style */

 .top-banner{
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
 }

 .menu-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 573px;
 }
 .g-architects{
    font-size: 45px;
    color: #131313;
 }


 .nav-button{
    list-style-type: none;
    display: flex;
    gap: 70px;
 }

 .brand-new h1{
    font-size: 64px;
    margin-left: 50%;
    text-align: center;
    transform:translate(-50%);
 }

 .brand-new p{
    font-size: 16px;
    color: #727272;
    margin-left: 50%;
    text-align: center;
    transform:translate(-50%);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
 }

 .em-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    margin-left: 50%;
    transform:translate(-50%);
    margin-bottom: 50px;
    border: 0px;
 }

 .brand-new img{
    display: block;
    margin-left: 50%;
    transform:translate(-50%);
 }
 
 /* ------------------------------
 This is for features style */
 .features{
    display: flex;
    gap: 73px;
    margin-left: 301px;
    /* margin-right: 301px; */
    align-items: center;
 }

 .feat-image{
    display: grid;
    grid-template-columns: 342px 342px;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 130px;
 }

 .ql{
    font-style:normal;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
 }

 .of-our{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
 }

 .arc-feature{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;

 }

 .feat-text h2{
    margin-bottom: 24px;
    padding-right: 250px;
 }

 .feat-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
    padding-right: 270px;

 }
 .em-btn-feat{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    color: #FFFFFF;
    border: 0px;
 }

 /* -------------------------------
 this is for article style */
 .love{
   display: flex;
   justify-content: center;
   gap: 146px;
   /* margin-left: 240px; */
 }

 .lo-n-enj{
   width: 586px;
   height: 224px;
   
 }

 .lo-n-enj h2{
  border-left: 5px solid #FF900E;
  font-size: 45px;
  color: #131313;
  padding-left: 21px;
  margin-bottom: 24px;
}

.lo-n-enj p{
   font-size: 16px;
   color: #727272;
}

.desk-n-mobile, .drag-n-builder, .awe-n-mod, .sup-n-ed{
   width: 586px;
   height: 171px;
   background: #FFFFFF;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
   border-radius: 8px;
}

.desk-n-mobile h3, .drag-n-builder h3, .awe-n-mod h3, .sup-n-ed h3{
   font-size: 20px;
   color: #131313;
   padding: 30px 250px 0px 30px;
   margin-bottom: 0px;
}

.desk-n-mobile p, .drag-n-builder p, .awe-n-mod p, .sup-n-ed p{
   font-size: 16px;
   color: #727272;
   padding: 0px 42px 30px 30px;
}

.ten-y-btn{
   width: 342px;
   height: 200px;
   background: #FF900E;
   border-radius: 8px;
   border: 0px;
   position: absolute;
   margin-left: 45%;
}

.ten-y-btn h1{
   font-size: 65px;
   color: #FFFFFF;
   margin: 0px;
}

.ten-y-btn p{
   font-size: 25px;
   color: #FFFFFF;
   margin: 0px;
}

/*------------------------------- 
 This is for Some facts style*/

 .facts h2{
   font-size: 45px;
   color: #131313;
   margin-left: 240px;
   margin-top: 268px;
 }

 .facts p{
   font-size: 16px;
   color: #727272;
   margin-left: 240px;
   padding-right: 1100px;
   margin-bottom: 100px;
 }

 /*.................................
 this is for award winning styles  */

 .award{
   display: flex;
   gap: 124.17px;
   margin-left: 290px;
 }

 .aw-win{
   width: 241.83px;
   height: 241.83px;
   border: 1px solid #FF900E;
   border-radius: 8px;
   transition-duration: 100ms;
   transition-property: all;

 }

 .aw-win:hover{
   transform: rotate(45deg);
 }

 .aw-win img{
   width: 45.22px;
   height: 45.22px;
   margin: 45.92px 98.699px 10px 97.92px;
 }

 .five-four{
   font-size: 45px;
   color: #424242;
   margin: 10px 93.92px 5px 92.92px;

 }

 .aw{
   font-size: 20px;
   color: #727272;
   margin: 5px 30px 59.69px 35.92px;

 }


 .one{
   font-size: 45px;
   color: #424242;
   margin: 9.78px 69px 5px 69px;
 }

 .pf{
   font-size: 20px;
   color: #727272;
   margin: 5px 40.92px 59.92px 39.92px;
  
 }

 .five{
   font-size: 45px;
   color: #424242;
   margin: 9.78px 83.92px 5px 74.92px;
 }

 .cw{
   font-size: 20px;
   color: #727272;
   margin: 5px 40.92px 59.92px 49.92px;
  
 }

 .two{
   font-size: 45px;
   color: #424242;
   margin: 10px 53.92px 5px 54.92px;
 }
 
 .es{
   font-size: 20px;
   color: #727272;
   margin: 5px 64.92px 59.92px 65.92px;
  
 }
 
 /* -------------------------------------
 This is for sponsor styles */
 .os h1{
   font-size: 45px;
   color: #131313;
   text-align: center;
   margin-top: 180px;
   margin-bottom: 0px;
 }
 .os p{
   font-size: 16px;
   color: #727272;
   text-align: center;
   padding-left: 670px;
   padding-right: 670px;
   margin-bottom: 50px;
 }

 .spon-logo{
   display: flex;
   gap: 155px;
   margin-left: 240px;
   margin-right: 240px;

 }

 /* -------------------------
 This is for footer style */

 .foot{
   width: 1440px;
   height: 100px;
   background: #FFF4E7;
   border-radius: 8px;
   text-align: center;
   margin: 130px 240px 216px 240px;
 }

 .foot p{
   font-size: 20px;
   color: #424242;
   padding-top: 40px;

 }